/* Remove underline from links */
a {
    text-decoration: none;
}

/* Navbar header background */
.head,
.head2 {
    background-color: rgb(107, 29, 180);
}

/* Logo and text alignment */
.head2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Adjust the logo position and size */
.head2 img {
    margin-right: 10px;
    height: 40px;
}

/* Brand styling */
.navbar-brand {
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    margin: 0;
}

/* Navbar links */
.navbar-nav a {
    color: white;
    margin-left: 15px;
}

/* Toggler button */
.navbar-toggler {
    margin-left: auto;
}

/* hero section */
#home {
    -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(rgba(0, 0, 0, 1) 89%, rgba(0, 0, 0, 0));
}

.c1 img {
    filter: brightness(0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-item img {
    display: block;
    width: 100%;
    height: 95vh;
    object-fit: cover;
}
.carousel-caption {
    padding-bottom: 40px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .carousel {
        width: 100%;
    }
    .carousel-item img {
        height: 300px;
    }
}

@media (max-width: 480px) {
    .carousel {
        width: 100%;
    }
    .carousel-item img {
        height: 200px;
    }
}

/* isi section */
#isi {
    background-color: white;
}
.isi-title {
    display: flex;
    justify-content: flex-start;
}
.isi-title h2 {
    font-size: 37px;
    color: black;
    padding-bottom: 12px;
}
.card {
    width: 18rem;
    color: white;
    background-color: rgb(159, 43, 226);
}
.card h5 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.card-body {
    padding: 5px;
}
.card-img {
    height: 180px;
    width: 100%;
}
.card-title {
    padding-left: 10px;
    padding-top: 5px;
}
.btn {
    color: white;
    display: flex;
    justify-content: flex-end;
}

/* news section */
.news-title {
    color: black;
    padding-top: 20px;
}
.col {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1024px) {
    .yt {
        height: 220px;
        width: 392px;
    }
}
@media (max-width: 768px) {
    .yt {
        height: 157px;
        width: 280px;
    }
}
/* @media(max-width: 425px){
    iframe{
        height: 95px;
        width: 168px;
    }
} */
.ply h1 {
    padding-top: 20px;
}

/* endpost section */
#endpost {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(https://img.freepik.com/free-photo/rear-view-excited-people-with-arms-raised-having-fun-while-watching-confetti-fireworks-front-stage-music-festival-copy-space_637285-568.jpg?t=st=1727019673~exp=1727023273~hmac=3cf7dee2e4ad3920908a59b8f4963566f7b3cd2717026459bb290946199c09f5&w=1480)
            center;
    background-size: cover;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    -webkit-mask-image: linear-gradient(
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
    );
    mask-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 11%);
}
.buton {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */
.footer {
    background: linear-gradient(
            0deg,
            rgba(107, 29, 180, 1) 70%,
            rgba(107, 29, 180, 0) 100%
        ),
        linear-gradient(135deg, rgb(107, 29, 180), rgb(164, 80, 227));
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
    z-index: 1;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo img {
    width: 100px; /* Adjust the logo size here */
    height: auto;
}

.footer-info {
    flex: 1;
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-links a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #ddd;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .footer-info,
    .social-links,
    .footer-logo {
        margin-bottom: 10px;
    }
}

/* ARTIST PAGE */
#artists {
    color: white;
    padding: 60px 0;
}

.artist h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.artists-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.artists-card {
    background-color: rgb(159, 43, 226);
    color: #fff;
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease;
    text-decoration: none;
}

.artists-card:hover {
    transform: scale(1.05);
}

.card-img-artist {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.artists-text {
    padding: 15px;
}

.artists-text h5 {
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0 5px 0;
}

.artists-text p {
    font-size: 14px;
    color: #bbb;
}

/* VENUE PAGES */
#venues {
    background-color: rgb(107, 29, 180);
    padding: 50px 0;
}
#venues h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}
.venue-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.venue-card:hover {
    transform: scale(1.05);
}
.venue-card-title {
    font-size: 1.5rem;
    font-weight: bold;
}
.venue-card-text {
    font-size: 1rem;
    color: #555;
}

.venue-card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

/* SIGNIN PAGE */
.logo {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 100px;
    height: auto;
}
#signin {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(https://img.freepik.com/free-photo/close-up-recording-video-with-smartphone-concert-toned-picture_1153-6333.jpg?t=st=1727024174~exp=1727027774~hmac=828e4615759e90ad31df861b9249813974837733cd75cbfa1e3829682b2159be&w=740)
            center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.signin-form {
    background: rgba(0, 0, 0, 0.304);
    color: white;
    backdrop-filter: blur(10px);
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 10);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input-group {
    margin-bottom: 20px;
}
.form-control {
    background-color: transparent;
}
.form-control ::placeholder {
    color: white;
}
input[type="email"],
input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.submit-button,
.daftar-button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.submit-button {
    background-color: #4caf50;
    color: #fff;
}
.daftar-button {
    background-color: rgb(159, 43, 226);
    color: #fff;
}

/* SIGNUP PAGE */
#signup {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(https://img.freepik.com/free-photo/close-up-recording-video-with-smartphone-concert-toned-picture_1153-6333.jpg?t=st=1727024174~exp=1727027774~hmac=828e4615759e90ad31df861b9249813974837733cd75cbfa1e3829682b2159be&w=740)
            center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-signup {
    background: rgba(0, 0, 0, 0.304);
    color: white;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 10);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-signup h2 {
    text-align: center;
    margin-bottom: 20px;
}

.container-signup .form-group {
    margin-bottom: 15px;
}

.container-signup .form-group label {
    font-size: 1rem;
}

.container-signup .form-control {
    padding: 10px;
    font-size: 1rem;
}

.container-signup .btn-signup {
    background-color: rgb(107, 29, 180);
    color: #fff;
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 4px;
}

.container-signup .btn-signup:hover {
    background-color: rgb(95, 24, 161);
}

.login-link {
    text-align: center;
    margin-top: 15px;
}

.login-link a {
    color: rgb(107, 29, 180);
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

